In [19]:
#Q1. Create one variable containing following type of data:
#(i) string
a= "Avishek"
#(ii) list
b= {1,2,3,4,5,6}
#(iii) float
c= 4.0
#(iv) tuple
tuple= (1,2,4.0,"avishek")

In [29]:
#Q2. Given are some following variables containing data:
var1 = ‘ ‘
type(var1)
var2 = ‘[ DS , ML , Python]’
type(var2)
var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
type(var3)
var4 = 1
type(var4)

SyntaxError: invalid character '‘' (U+2018) (635084090.py, line 2)

In [39]:
#Q3. Explain the use of the following operators using an example:
#(i) /
a=5
b=10
c=b/a
d=b//a
e=b%a
f=b**a
print(c,d,e,f)

2.0 2 0 100000

In [52]:
'''
Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.
'''
a= ["avi",50,80,34,33,233,9,True]
for x in a:
    print(type(x),x)

<class 'str'> avi
<class 'int'> 50
<class 'int'> 80
<class 'int'> 34
<class 'int'> 33
<class 'int'> 233
<class 'int'> 9
<class 'bool'> True

In [18]:
'''
Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.
'''
a=8
b=2
while(a/b==0):
print ("yes devisible")

IndentationError: expected an indented block after 'while' statement on line 7 (3743642461.py, line 8)

In [14]:
'''
Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.
'''
a=[2,4,5,6,7,8,9,12,34,56,76,44,41,33,22,11,22,22,47,56,78,34,56,4,56,90,89,780,45,333,3333,10]
for x in a:
    
    if x%3==0:
    
      print ("yes divisible by 3")

yes divisible by 3
yes divisible by 3
yes divisible by 3
yes divisible by 3
yes divisible by 3
yes divisible by 3
yes divisible by 3
yes divisible by 3
yes divisible by 3
yes divisible by 3

In [22]:
'''Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.'''
ab = "avishek"
be=[1,3,2,3,2,3,2,3,2,2,78]
ab

'avishek'

In [23]:
be

[1, 3, 2, 3, 2, 3, 2, 3, 2, 2, 78]

In [27]:
be[3] = 30
be

[1, 3, 2, 30, 2, 3, 2, 3, 2, 2, 78]

In [28]:
ab[3]='f'
ab

TypeError: 'str' object does not support item assignment